@model DeleteExpenseVM
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/addIncome.css" />
</head>
<body>
    <form asp-controller="Expenses" asp-action="DeleteExpense" method="post">
        <div class="input-group">
            <div>
                <label>Дата</label>
                <input asp-for="Date" readonly/>
            </div>
            <div>
                <label>Категория</label>
                <input asp-for="Category" readonly/>
            </div>
        </div>
        <div class="input-group">
            <div>
                <label>Сума</label>
                <input asp-for="Amount" readonly/>
            </div>
            <div>
                <label>Коммент</label>
                <input asp-for="Comment"/>
            </div>
        </div>
        <input type="hidden" asp-for="ExpenseId" readonly/>
        <div class="submit3">
            <button type="submit">Удалить</button>
        </div>
    </form>
</body>
